# Archivo .gitignore

# El archivo de contraseñas
.env

# Archivos generados por el script
Times.csv
visualizacion_eventos.html
Grafica_Movimiento.html

# Archivos de caché de Python
__pycache__/
*.pyc

# (Opcional) Si usas un entorno virtual
.venv/
venv/

# Archivos de modelo de IA
*.pt
*.engine

# Archivos de caché de Ultralytics
*.json